#can {

    border:2px solid #888;
    border-radius:4px;
    position:relative; /* Necessary for correct mouse co-ords in Firefox */
}

body {
	vertical-align: middle;
}

.colors {
	display: inline-block;
	width: 10px;
	height: 10px;
}

#left {
	width: 25%;
	text-align: right;
	padding-right: 2%;
}

#clearCont {
	width: 100%;
	margin: 3% 0;
	float: right;
}

#take {
	float: right;
	padding-right: 7%;
	margin-top:	15%; 
}

#empty {
	float: right;
	padding-right: 7%;
	margin-top:	15%; 
}

#result {
	padding-top: 5%;
}

#drop {
	float: right;
}

video {
	margin-top: 5%;
}

#link {
	margin: 25%;
}