#can {
    border: 0.5px solid #888;
    border-radius:4px;
    position:relative; /* Necessary for correct mouse co-ords in Firefox */
}

body {
	vertical-align: middle;
}

table {
	padding: 5%;
}

.colors {
	display: inline-block;
	width: 10px;
	height: 10px;
}

#left {
	width: 35%;
	text-align: right;
	padding-right: 2%;
}

#clearCont {
	width: 100%;
	margin: 3% 0;
	float: right;
}

#take {
	float: right;
	padding-right: 7%;
	margin-top:	15%; 
}

#empty {
	float: right;
	padding-right: 7%;
	margin-top:	15%; 
}

#result {
	padding-top: 5%;
}

#drop {
	float: right;
}

#startbutton {
	display: none;
}

video {
	margin-top: 5%;
	transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

#link {
	margin: 25%;
	display: contents;
}

#spacer {
	width: 10%;
}

input[type='file'] {
  color: transparent;
}